version: '3'
services:
  db:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    volumes:
      - "./mysql/dev-data:/var/lib/mysql"
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_NAME_DEV}

  test-db:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    volumes:
      - "./mysql/test-data:/var/lib/mysql"
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_NAME_TEST}

  app:
    build:
      context: ./code
      dockerfile: Dockerfile
    volumes:
      - "./code:/var/www"
      - "./bundle:/usr/local/bundle"
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST_DEV: ${MYSQL_HOST_DEV}
      MYSQL_HOST_TEST: ${MYSQL_HOST_TEST}
      MYSQL_NAME_DEV: ${MYSQL_NAME_DEV}
      MYSQL_NAME_TEST: ${MYSQL_NAME_TEST}
    depends_on:
      - db
      - test-db
    tty: true
    restart: always
